body{
    margin: 0;
    font-family: sans-serif;
}
.icono{
    width: 3rem;
    height: 3rem;
    
}
h1{
    color: white;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 40px;
    display: flex;
    flex-wrap: 1;

}
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;

}
#btn-menu{
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 30px;
    border-right: 1 px solid white;
}
header label:hover{
    cursor: pointer;
    
}
.menu ul{
    margin: 0;
    
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
   
}
.menu li {
    border-right: 1px solid white;
}
.menu li:hover {
    background-color: red;
}
.menu li a{
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

@media (max-width: 768px) {
    header label{
        display: block;

    }
    .menu {
        position: absolute;
        background-color: tomato;
        width: 100%;
        margin-left: -100%;
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;

    }
    .menu li {
        border-top: 1px solid white;
    }
   
    #btn-menu:checked ~ .menu {
        margin: 0;
        margin-top: 378px;
        
}
}